<div class = "pageview">
  <div class = "pagecontent">

    <div class="title-centered">
      <h1>Edit Genre</h1>
    </div>
    <form action="/genres/<%= @genre.id() %>" method="post">
      <label class="fixed-label" for="genre_name">Genre:</label>
      <input class="text-field" id="genre_name" type="text" name="name" value="<%= @genre.name() %>">
      <input class="btn-main" type='submit' value="Update">
    </form>

  </div>
</div>
