<div class = "pageview">
  <div class = "pagecontent">

    <h1>Genres</h1>
    <form action="/genres/new" method="get">
      <input class="btn-highlight" type="submit" value="New Genre">
    </form>

    <% for genre in @genres %>
    <h2><%= genre.name() %></h2>
    <a href="/genres/<%= genre.id() %>">View</a>
    <hr />
    <% end %>

  </div>
</div>
