<div class = "pageview">
  <div class = "pagecontent">

    <div class="title-centered">
      <h1>Genres</h1>
    <form action="/genres/new" method="get">
      <input class="btn-highlight" type="submit" value="New Genre">
    </form>
    </div>

    <% for genre in @genres %>
    <h2><%= genre.name() %></h2>
    <div class="index-buttons">
    <a class="btn-main" href="/genres/<%= genre.id() %>">View</a>
    </div>
    <hr />
    <% end %>

  </div>
</div>

<button class="floating-back-button" name="back" onclick="window.history.back()"><h1>⬅</h1></button>
<button class="floating-add-button" name="add"><h1 class="add-text"><a href="/books/new">+</a></h1></button>
