<div class = "pageview">
  <div class = "pagecontent">

    <h1>New Genre</h1>
    <form action="/genres" method="post">
      <label for="genre_name">Genre:</label>
      <input id="genre_name" type="text" name="name">
      <input type='submit' value="Create">
    </form>

  </div>
</div>
