<div class = "pageview">
  <div class = "pagecontent">

    <div class="title-centered">
      <h1>New Format</h1>
    </div>
    <form action="/formats" method="post">
      <label class="fixed-label" for="format_name">Format:</label>
      <input class="text-field" id="format_name" type="text" name="name"><br><br>
      <div class="title-centered">
        <input class="btn-main" type='submit' value="Create">
      </div>
    </form>

  </div>
</div>

<button class="floating-back-button" name="back" onclick="window.history.back()"><h1>⬅</h1></button>
<button class="floating-add-button" name="add"><h1 class="add-text"><a href="/books/new">+</a></h1></button>
