<div class = "pageview">
  <div class = "pagecontent">

    <h1>Admin</h1>
    <h3>Authors <a href="/authors">View</a></h3>
    <h3>Genres <a href="/genres">View</a></h3>
    <h3>Series <a href="/serieses">View</a></h3>

  </div>
</div>
