<div class = "pageview">
  <div class = "pagecontent">

    <div class="title-centered">
      <h1>Admin</h1>
    </div>

    <div class="index-buttons">
      <h3>Authors <a class="btn-main" href="/authors">View</a></h3>
    </div>
    <div class="index-buttons">
      <h3>Genres <a class="btn-main" href="/genres">View</a></h3>
    </div>
    <div class="index-buttons">
      <h3>Series <a class="btn-main" href="/serieses">View</a></h3>
    </div>
    <div class="index-buttons">
      <h3>Tags <a class="btn-main" href="/tags">View</a></h3>
    </div>
    <div class="index-buttons">
      <h3>Reviews <a class="btn-main" href="/reviews">View</a></h3>
    </div>
    
  </div>
</div>
