<div class="homepage">
  <div class="homepage-content">
    <img src="/images/Stack-of-books.jpg" alt="Stack of Books" style="width:80px;height:80px">
  </div>
  <div class="homepage-content">
<h1>BookBank</h1>
<h2><%= Quote.sample() %></h2>
  </div>
  <div class="homepage-content" id="homepage-buttons">
    <a class="btn-main" href="/books/new">New Book</a>
    <a class="btn-nav" href="/books/view">Library</a>
  </div>
</div>
