<div class="homepage">
  <div class="homepage-content">
    <img src="/images/Stack-of-books.png" alt="Stack of Books" style="width:120px;height:120px">
  </div>
  <div class="homepage-content">
<h1>BookBank</h1><br>
<h2><%= Quote.sample() %></h2><br>
  </div>
  <div class="homepage-content" id="homepage-buttons">
    <a class="btn-lrg-highlight" href="/books/new">New Book</a>
    <a class="btn-lrg-main" href="/books/view">Library</a>
  </div>
</div>
