<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>📚BookBank📚</title>
  </head>
  <body>
    <main>
      <nav>
        <div>
          <ul>
            <li><a href="/books/new">New Book</a></li>
            <li><a href="/books/select-view">Library</a></li>
            <li><a href="/books/wishlist">Wishlist</a></li>
          </ul>
        </div>
        <div>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/admin">Admin</a></li>
          </ul>
      </nav>
    </main>
  </body>
</html>
