<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>📚BookBank📚</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/buttons.css">
  </head>
  <body>
    <main>
      <nav class = "navigation-pane">
        <div class = "navigation-left">
          <ul>
            <div class="btn-nav"><li><a href="/">Home</a></li></div>
            <div class="btn-nav"><li><a href="/admin">Admin</a></li></div>
          </ul>
        </div>
        <div class="navigation-center">
              <a href="/"><img src="/images/Stack-of-books.png" alt="Stack of Books" style="width:40px;height:40px"></a>
        </div>
        <div class = "navigation-right">
          <ul>
            <div class="btn-nav"><li><a href="/books/new">New Book</a></li></div>
            <div class="btn-nav"><li><a href="/books/view">Library</a></li></div>
            <div class="btn-nav"><li><a href="/books/view/<%= OwnershipStatus.find_by_name("Wishlist").id() %>">Wishlist</a></li></div>
            <div class="btn-nav"><li><a href="/gimme">Gimme!</a></li></div>
          </ul>
        </div>
        </nav>
      <div class = "navigation-space"
      </div>
    </main>
    <%= yield %>
    <div class="page-footer">
    </div>
  </body>
</html>
