<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>📚BookBank📚</title>
    <link rel="stylesheet" href="/styles/site-structure.css">
  </head>
  <body>
    <main>
      <div class = "navigation-pane"
        <nav>
        <div class = "navigation-left">
          <ul>
            <li><a href="/books/new">New Book</a></li>
            <li><a href="/books/view">Library</a></li>
            <li><a href="/books/view/<%= OwnershipStatus.find_by_name("Wishlist").id() %>">Wishlist</a></li>
            <li><a href="/gimme">Gimme!</a></li>
          </ul>
        </div>
        <div class = "navigation-right">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/admin">Admin</a></li>
          </ul>
        </div>
        </nav>
      </div>
    </main>
    <%= yield %>
    <div class="page-footer">
      <p></p>
    </div>
  </body>
</html>
