<div class = "pageview">
  <div class = "pagecontent">

    <div class="title-centered">
      <h1>Edit Tag</h1>
    </div>

    <form action="/tags/<%= @tag.id() %>" method="post">
      <label class="fixed-label" for="tag_name">Tag name:</label>
      <input class="text-field" id="tag_name" type="text" name="name" value="<%= @tag.name() %>">
      <div class="show-buttons">
        <input class="btn-main" type='submit' value="Update">
      </div>
    </form>

  </div>
</div>
