<div class = "pageview">
  <div class = "pagecontent">

    <h1>Tags</h1>
    <form action="/tags/new" method="get">
      <input class="btn-nav" type="submit" value="New Tag">
    </form>

    <% for tag in @tags %>
    <h2><%= tag.name() %></h2>
    <a href="/tags/<%= tag.id() %>">View</a>
    <hr />
    <% end %>

  </div>
</div>
