<div class = "pageview">
  <div class = "pagecontent">

    <div class="title-centered">
      <h1>Tags</h1>
      <form action="/tags/new" method="get">
        <input class="btn-highlight" type="submit" value="New Tag">
      </form>
    </div>

    <% for tag in @tags %>
    <h2><%= tag.name() %></h2>
    <div class="index-buttons">
      <a class="btn-main" href="/tags/<%= tag.id() %>">View</a>
    </div>
    <hr />
    <% end %>

  </div>
</div>
