<div class = "pageview">
  <div class = "pagecontent">

    <div class="title-centered">
      <h1>New Tag</h1>
    </div>

    <form action="/tags" method="post">
      <label class="fixed-label" for="tag_name">Tag:</label>
      <input class="text-field" id="tag_name" type="text" name="name"><br><br>
      <div class="show-buttons">
        <input class="btn-main" type='submit' value="Create">
      </div>
    </form>

  </div>
</div>
