<div class = "pageview">
  <div class = "pagecontent">

    <div class="title-centered">
      <h1>Reviews</h1>
    </div>
    <% for review in @reviews %>
    <h2><%= review.book().title() %></h2>
    <h3><%= review.book().author().full_name %></h3>
    <p><%= "★" * review.rating().to_i()%></p>
    <div class="index-buttons">
      <a class="btn-main" href="/books/<%= review.book().id() %>">View</a>
    </div>
    <hr />
    <% end %>

  </div>
</div>
