<div class = "pageview">
  <div class = "pagecontent">

    <h1>Review</h1>
    <h2><%= @book.title() %></h2>
    <h3><%= @book.author().full_name() %></h3>
    <form action="/reviews" method="post">
      <label for="rating">Rating:</label>
      <input id="rating" type="number" max="5" min="1" name="rating"><br>

      <label for="review">Review:</label>
      <input id="rating" type="text" name="review">

      <input type="hidden" name="book_id" value="<%= @book.id() %>">
      <input type='submit' value="Submit Review">
    </form>

  </div>
</div>
