<div class = "pageview">
  <div class = "pagecontent">

    <div class="title-centered">
      <h1>Review</h1>
      <h2><%= @book.title() %></h2>
      <h3><%= @book.author().full_name() %></h3>
    </div>
    <form action="/reviews" method="post">
      <label class="rating-label" for="rating">Rating:</label>
      <input class="rating-field" id="rating" type="number" max="5" min="1" name="rating"><br><br>

      <label class="gimme-label" for="review">Review:</label>
      <textarea class="large-field" id="rating" rows="4" name="review"></textarea><br><br>

      <input type="hidden" name="book_id" value="<%= @book.id() %>">

      <div class="show-buttons">
        <input class="btn-main" type='submit' value="Submit Review">
      </div>
    </form>

  </div>
</div>

<button class="floating-back-button" name="back" onclick="window.history.back()"><h1>⬅</h1></button>
<button class="floating-add-button" name="add"><h1 class="add-text"><a href="/books/new">+</a></h1></button>
