<div class = "pageview">
  <div class = "pagecontent">

    <h1>New Series</h1>
    <form action="/serieses" method="post">
      <label for="series_name">Series:</label>
      <input id="series_name" type="text" name="name">
      <input type='submit' value="Create">
    </form>

  </div>
</div>
