body {
  font-family: "Lucinda Console", Monaco, monospace;
}

.navigation-pane {
  display: flex;
  flex: 1;
  flex-direction: row;
  background-color: orange;
  height: 7vh;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  overflow: scroll;
  width: 100%
}

.navigation-left ul {
  display: flex;
  flex: 1;
  flex-direction: row,
}

.navigation-right ul {
  display: flex;
  flex: 1;
  flex-direction: row;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px
}

li {
  margin: 0px;
  background-color: white;
  border: 0px;
  border-radius: 15px;
}

li a {
  background-color: white;
  text-align: center;
  border-radius: 15px;
  color: orange;
  text-decoration: none;
  width: 80px;
}


li:hover a:hover {
  color: white;
  text-decoration: none;
  border: solid 1px white;
  background-color: orange;
  width: 80px;
  text-align: center;
}

.page-footer p {
  bottom: 0%;
  background-color: orange;
  overflow: hidden;
  position: fixed;
  height: 10px;
  width: 100%;
}

.homepage {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.pageview {
  display: flex;
  justify-content: center;
  background-color: gainsboro;
  min-height: 93vh;
}

.pagecontent {
  width: 50%;
  background-color: white;
  padding: 10px;
  border-radius: 3%;
  margin: 10px 0px;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 15px;
}

h3 {
  font-size: 13px;
}

p {
  font-size: 11px;
}

label.style {
  font-sie: 11px;
}
