body {
  font-family: "Lucinda Console", Monaco, monospace;
}

.navigation-pane {
  display: flex;
  flex: 1;
  flex-direction: row;
  background-color: cornflowerblue;
  height: 7vh;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  overflow: scroll;
  width: 100%;
}

.navigation-left ul {
  display: flex;
  flex: 1;
  flex-direction: row,
}

.navigation-right ul {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.btn-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  background-color: cornflowerblue;
  padding: 3px;
  margin: 0px;
  text-decoration: none;
  color: white;
  border: solid 1px white;
  border-radius: 15px;
  text-align: center;
}

.btn-main:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  background-color: white;
  padding: 3px;
  margin: 0px;
  text-decoration: none;
  color: cornflowerblue;
  border: solid 1px cornflowerblue;
  border-radius: 15px;
  text-align: center;
}

.btn-nav:hover a {
  color: white;
}

.btn-nav{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  background-color: white;
  border-radius: 15px;
  padding: 3px;
  margin: 5px;
  text-decoration: none;
  color: cornflowerblue;
  border: solid 1px cornflowerblue;
}

.btn-nav:hover {
  color: white;
  border: solid 1px white;
  background-color: cornflowerblue;
  width: 80px;
  text-align: center;
  padding: 3px;
  margin: 5px;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px
}

.page-footer p {
  bottom: 0%;
  background-color: cornflowerblue;
  overflow: hidden;
  position: fixed;
  height: 10px;
  width: 100%;
}

.homepage {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.pageview {
  display: flex;
  justify-content: center;
  background-color: gainsboro;
  min-height: 93vh;
}

.pagecontent {
  width: 40vw;
  background-color: white;
  padding: 10px;
  border-radius: 3%;
  margin: 10px 0px;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 15px;
}

h3 {
  font-size: 13px;
}

p {
  font-size: 11px;
}

a {
  text-decoration: none;
  color: cornflowerblue;
}
