body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  margin: 0px;
}

.navigation-pane {
  left: 0%;
  top: 0%;
  display: flex;
  flex: 1;
  flex-direction: row;
  background-color: cornflowerblue;
  height: 8vh;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  overflow: scroll;
  width: 100%;
}

.navigation-space {
  top: 0%;
  left: 0%;
  height: 8vh;
}

.navigation-left ul {
  display: flex;
  flex: 1;
  flex-direction: row,
}

.navigation-right ul {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.title-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.btn-main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 85px;
  background-color: cornflowerblue;
  border-radius: 15px;
  padding: 3px;
  margin: 5px;
  text-decoration: none;
  color: white;
  border: solid 1px white;
}

.btn-main:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 85px;
  background-color: white;
  border-radius: 15px;
  padding: 3px;
  margin: 5px;
  text-decoration: none;
  color: cornflowerblue;
  border: solid 1px cornflowerblue;
}

.btn-nav:hover a {
  color: white;
}

.btn-nav{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 85px;
  background-color: white;
  border-radius: 15px;
  padding: 3px;
  margin: 5px;
  text-decoration: none;
  color: cornflowerblue;
  border: solid 1px cornflowerblue;
}

.btn-nav:hover {
  color: white;
  border: solid 1px white;
  background-color: cornflowerblue;
  min-width: 85px;
  text-align: center;
  padding: 3px;
  margin: 5px;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px
}

.page-footer {
  bottom: 0%;
  left: 0%;
  background-color: cornflowerblue;
  overflow: hidden;
  position: fixed;
  height: 30px;
  width: 100vw;
}

.homepage {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homepage-content {
  text-align: center;
}

#homepage-buttons {
  display: flex;
  flex-direction: row;
}

.index-buttons{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.show-buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pageview {
  display: flex;
  justify-content: center;
  background-color: gainsboro;
  min-height: 89vh;
}

.pagecontent {
  width: 40vw;
  background-color: white;
  padding: 15px;
  border-radius: 20px;
  margin: 10px 0px;
}

h1 {
  font-size: 25px;
  margin: 5px;
}

h2 {
  font-size: 20px;
  margin: 3px;
}

h3 {
  font-size: 17px;
}

p {
  font-size: 15px;
}

a {
  text-decoration: none;
  color: cornflowerblue;
}
