body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  margin: 0px;
}

.navigation-pane {
  display: flex;
  flex-direction: row;
  background: linear-gradient(to right, orange 0%, #ffbc40 50%, orange 100%);
  height: 8vh;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  overflow: scroll;
  width: 100%;
}

.navigation-space {
  top: 0%;
  left: 0%;
  height: 8vh;
}

.navigation-left ul {
  display: flex;
  flex: 1;
  width: 30vw;
}

.navigation-center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30vw;
}

.navigation-right ul {
  display: flex;
  flex: 1;
  width: 30vw;
}

.title-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}


ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px
}

.page-footer {
  bottom: 0%;
  left: 0%;
  background: linear-gradient(to right, orange 0%, #ffbc40 50%, orange 100%);
  overflow: hidden;
  position: fixed;
  height: 4vh;
  width: 100vw;
}

.footer-space {
  bottom: 0%;
  left: 0%;
  height: 4vh;
}

.homepage {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homepage-content {
  text-align: center;
}

#homepage-buttons {
  display: flex;
  flex-direction: row;
}

.index-buttons{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.show-buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pageview {
  display: flex;
  justify-content: center;
  background-color: gainsboro;
  min-height: 88vh;
}

.pagecontent {
  width: 40vw;
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  margin: 20px 0px;
}

.dropdown {
  background-color: lightslategrey;
  border: solid 1px lightslategrey;
  color: white;
  border-radius: 5px;
  width: 29.5vw;
  height: 20px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 13px;
  align-items: center;
}

.large-field  {
  width: 100%;
  border: solid 1px lightslategrey;
  color: black;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 13px;
}

.rating-label {
  width: 50px;
  display: inline-block;
}

.text-field {
  align-items: center;
  background-color: white;
  border: solid 1px lightslategrey;
  color: black;
  border-radius: 5px;
  width: 29vw;
  height: 18px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 13px;
}

#tag-dropdown {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: lightslategrey;
  border-radius: 5px;
  color: white;
  width: 205px;
  height: 20px;
  padding-left: 5px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 13px;
}

#tag-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  border: solid 1px lightslategrey;
  border-radius: 5px;
  width: 200px;
  height: 20px;
  font-size: 13px;
  padding-left: 5px;
}

#tag-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.gimme-box, .view-box{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.gimme-label {
  width: 80px;
  display: inline-block;
}

.fixed-label {
  width: 110px;
  display: inline-block;
}

.floating-back-button {
  position: fixed;
  left: 30vw;
  top: 13vh;
  border: none;
  color: orange;
  background-color: transparent;
}

.floating-add-button a {
  position: fixed;
  right: 30vw;
  top: 13.5vh;
  border: none;
  color: orange;
  background-color: transparent;
}

.add-text {
  font-size: 33px;
}

label {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 13px;
  font-weight: bold;
}

h1 {
  font-size: 25px;
  margin: 5px;
}

h2 {
  font-size: 20px;
  margin: 3px;
}

h3 {
  font-size: 17px;
  margin: 2px;
}


p {
  font-size: 15px;
}

a {
  text-decoration: none;
}
