<div class = "pageview">
  <div class = "pagecontent">

    <h1>Edit Author</h1>
    <form action="/authors/<%= @author.id() %>" method="post">
      <label for="first_name">First Name:</label>
      <input id="first_name" type="text" name="first_name" value="<%= @author.first_name %>">
      <label for="last_name">Last Name:</label>
      <input id="last_name" type="text" name="last_name" value="<%= @author.last_name %>">
      <input type='submit' value="Update">
    </form>

  </div>
</div>
