<div class = "pageview">
  <div class = "pagecontent">

    <h1>Authors</h1>
    <form action="/authors/new" method="get">
      <input class="btn-highlight" type="submit" value="New Author">
    </form>

    <% for author in @authors %>
    <h3><%= author.full_name() %></h3>
    <a href="/authors/<%= author.id() %>">View</a>
    <hr />
    <% end %>

  </div>
</div>
